form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  background-color: rgb(187, 241, 188);
  padding: 15px;
}

select,
input {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

button {
  background: #2563eb;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 6px;
  font-weight: 600;
}

button:hover {
  background: #1e40af;
}
.hint {
  font-size: 12px;
  color: #666;
}
