<form (ngSubmit)="submit()">
  <p class="hint">
  Choose Income or Expense before adding
</p>

  <select [(ngModel)]="data.type" name="type">
    <option value="income">Income</option>
    <option value="expense">Expense</option>
  </select>

  <input
    type="text"
    placeholder="Category"
    [(ngModel)]="data.category"
    name="category"
    required
  />

  <input
    type="number"
    placeholder="Amount"
    [(ngModel)]="data.amount"
    name="amount"
    required
  />

  <input
    type="date"
    [(ngModel)]="data.date"
    name="date"
    required
  />

  <button type="submit">Add</button>
</form>
