table {
  width: 100%;
  margin-top: 15px;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  border: 1px solid #ddd;
  background-color: rgb(139, 204, 222);
  border-radius: 10px;
}

button {
  background: red;
  color: white;
  border: none;
  padding: 6px 10px;
}
